{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
  <style>
    body{
        background-image: url('{% static "images/sigin1.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
    }
  </style>
  <center><h1>Sigin page</h1></center> 
<form method="post" class="mx-auto" style="margin-top: 80px; width:300px">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><strong>Email address</strong></label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
        <label for="text"><strong>Name</strong></label>
        <input type="text"class="form-control" name="name">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><strong>Password</strong></label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}